* @JannikEmmerich @MarcelCoding
*.md @cryptic-game/text @JannikEmmerich @MarcelCoding
/docs/python/ @cryptic-game/text @cryptic-game/head-of-python-backend @cryptic-game/head-assistant-of-python-backend @Defelo
/docs/java/ @cryptic-game/text @cryptic-game/head-of-java-backend @cryptic-game/head-assistant-of-java-backend
